<h1><%= @post.title %></h1>

<% if @post.image %>
  <%= image_tag main_app.url_for(@post.image.file) %>
<% end %>

<%= @post.content&.html_safe %>

Comments:
<%= render @post.comments %>

<%= render 'spina/blog/comments/form', comment: Spina::Blog::Comment.new(spina_blog_post_id: @post.id) %>